* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #d1d2d4;
}

.button-range {
  border-radius: 40px;
  background-color: #6E6E6E;
  color: #fff;
  padding: 5px 10px;
  margin-top: 1.8rem;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 25%;

}
.button-users {
  border-radius: 40px;
  background-color: #6E6E6E;
  color: #fff;
  padding: 5px 10px;
  margin-top: 1.8rem;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}


.flex {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.f-column {
  flex-direction: column;
}

/* NAVBAR     */
.navbar {
  height: 7rem;
  background-color: #404041;
  text-align: center;
}

.navbar__txt {
  color :#dd1972;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}

.navbar__thick-txt {
  font-weight: 700;
}

.navbar__ultimateedition {
  color: #dfdfdf;
}

/*GENERAL STUFF*/
.lines span {
  position: relative;
  display: inline-block;
}

.lines span:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #f7f7f7;
    top: 50%;
    width: 25%;
    margin: 0 -65px;
}

.lines span:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #f7f7f7;
    top: 50%;
    width: 25%;
    margin: 0 5px;
  }

.bothcolumns {
  display: flex;
  justify-content: center;
}

/*COLUMN LEFT*/

.column-left {
  width: 470px;
  background-color: #f7f7f7;
  border: 1px solid #404041;
}

.column-right {
  width: 470px;  
  background-color: #D1D2D4;
}

article.column-left__range {
    background-color: #fff;
    margin: 1rem 1rem;
    border: 1px solid #d1d2d4;
    padding-bottom: 20px;
}

button.button-style {
    background-color: #7F7F7F;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    transition-duration: .5s;
    width: 141px;
    height: 33px;
    margin-left: 22px;
    margin-right: 20px;
}

/*button.button-style:hover {
  background-color: #7F7F7F; 
}*/

div.range--inputs {
  display: flex;
  align-items: flex-end;
  margin-top: -10px;
}

label.range--input-boxes {
  padding-bottom: 0px;
}

p.column-left__range-and-latest-score {
    font-weight: 700;
    font-size: 1.1rem;
    color: #404041;
    padding: .5rem;
    margin-bottom: 0px;
}

label {
  width: auto;
  float: left;
  padding: .5rem;
}

.column-left__input-header-text {
  display: block;
  margin: 0 0 .2rem;
  font-size: 1.02rem;
}

.column-left__range--highlowinputs {
  width: 90%; 
  padding: .5rem;
  height: 12px;
}

/*MIDDLE THIRD*/

.column-left__users {
  background-color: #fff;
  height: 18rem;
  margin: 1rem 1rem;
  border: 1px solid #d1d2d4;
  padding: 10px;
}

p.column-left__challengerheadertext {
    font-weight: 700;
    font-size: 1.1rem;
    color: #404041;
    padding: .5rem;
    margin-bottom: 0px;
    margin-left: -8px;
    margin-top: -20px;
}

p.column-left__range--currentrange-statement {
  font-size: 1.02em;
  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: 0px;
}

span.range--display-numbers {
  text-decoration: underline;
  font-weight: bold;
}

div.challenger-one-guesses {
  display: flex;
  margin-bottom: 25px;
  margin-left: -8px;
  margin-top: -10px;
}

div.challenger-two-guesses {
  display: flex;
  margin-bottom: 25px;
  margin-left: -8px;
  margin-top: -10px;
}

div.middle-box--buttons {
  display: flex;
  align-items: flex-end;
  margin-left: -8px;
}

button.triple-button-style {
      background-color: #7F7F7F;
      border-radius: 15px;
      color: white;
      font-weight: 600;
      font-size: 14px;
      transition-duration: .5s;
      width: auto;
      height: 33px;
      margin-left: 8px;
      margin-right: 8px;
      padding-right: 38px;
      padding-left: 38px;
}

/*button.triple-button-style:hover {
  background-color: #7F7F7F; 
}*/

.name-entry {
  width: 15rem;
  padding: .5rem;
  height: 12px;
}

.value-input__guess {
  width: 7rem; 
  padding: .5rem;
  height: 12px;
}

/*BOTTOM THIRD*/
article.leftsection__scores {
  background-color: #fff;
  height: 15rem;
  margin: 1rem 1rem;
  border-right: 1px solid #d1d2d4;
  display: flex;
  position: relative;
  border: 1px solid #d1d2d4;
}

.column-left__score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #404041;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
}
.player-one {
  justify-content: space-between;
  border-right: 2px solid #f7f7f7;
  width: 200px;
  padding: 2rem;
  margin: 2rem 0;
}
.player-two {
  justify-content: space-between;
  width: 200px;
  padding: 2rem;
  margin: 2rem 0;
}
.display-player-name-one, .display-player-name-two {
  text-align: center;
  color: #7f7f7f;
  font-weight: 700;
  font-size: 1.3rem;
}

.current-guess {
  text-align: center;
}

.big-pink-number-one, .big-pink-number-two {
  color: #dd1972;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.player-result {
  text-align: center;
}

/*RANDOM STUFF*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}













