body {
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  height: 7rem;
  background-color: #404041;
  text-align: center;
}
.navbar__txt {
  color :#dd1972;
  font-weight: 300;
  font-size: 3rem;
}
.navbar__thick-txt {
  font-weight: 700;
}
.navbar__hr {
  width: 15%;
}
.leftsection {

}
.leftsection__range {

}
.leftsection__users {

}
.leftsection__scores {

}